* {
  box-sizing: border-box;
}

.container{
height: 100vh;
display: flex;
display: flex;
  align-items: center;
  justify-content: center
}

.rect{
  position: absolute;
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  animation: moving 2s, blinking 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  }


.spinner-text{
font-family: monospace;
font-size: 16px;
text-transform: uppercase;
animation: blinking 2s;
animation-iteration-count: infinite;
transition-timing-function: linear;
}

.spinner{
position: relative;
}

@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}