@import "layout.scss";

* {
  box-sizing: border-box;
}
.navigator {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  @include for-medium-up {
    width: 50%;
  }
  @include for-large-up {
    width: 50%;
  }
}
.content {
  @include for-large-up {
    display: flex;
  }
}
.conteiner {
  @include for-medium-up {
    display: flex;
  }
  @include for-large-up {
    display: flex;
    flex: 2 0;
  }
}
.list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  @include for-medium-up {
    width: 50%;
  }
  @include for-large-up {
    width: 50%;
  }
}
.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  @include for-large-up {
    flex: 1 0;
  }
}
span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #faebd7;
  border-radius: 4px;
  padding: 8px;
  margin: auto;
}
