* {
  box-sizing: border-box;
}

.navigator {
background-color: #ff7f50;
min-height: 200px;
display: flex;
flex-grow: 1;
max-height: 300px;
}

.list {
background-color: #006400;
min-height: 200px;
display: flex;
flex-grow: 1;
max-height: 300px;
}



.news{
background-color: #0ff;
min-height: 200px;
display: flex;
flex-grow: 1;
}

span{
text-transform: lowercase;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 8px;
background-color: #faebd7;
border-radius: 4px;
margin: auto;
}


@media screen and (min-width: 600px){
   .conteiner{
    display: flex;
   }
   .navigator, .list{
    width: 300px;
   }
}

@media screen and (min-width: 900px){
  .news, .list, .navigator{
  width: 400px;
  }
  .content{
    display: flex;
  }
}